.landing-background {
	--black: #000000;
	--white: #fafafa;
	--yellow: #edb214cf;
	--background: var(--yellow);
	--accent: var(--white);

	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: var(--accent);
	top: -1.5rem;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	align-content: space-around;
	justify-content: space-around;
	flex-wrap: wrap;
}

.landing-text {
	display: contents;
	overflow: hidden;
	font-family: 'Paytone One', sans-serif;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.dotted {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	background-image: radial-gradient(rgba(0, 33, 0, 0) 1px, var(--background) 2px);
	background-size: 4px 4px;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	-moz-backdrop-filter: blur(2px);
}

.dotted svg {
	margin-right: 20px;
}

.dotted a {
	text-decoration: none;
	color: var(--accent);
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: var(--background);
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
	-webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
	background: var(--background);
}

section {
	height: 100%;
	overflow: hidden;
}

/* .progress {
	position: fixed;
	left: 0;
	right: 0;
	height: 5px;
	background: var(--accent);
	bottom: 100px;
} */

.parallax {
	letter-spacing: -2px;
	line-height: 0.8;
	margin: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}

.parallax .scroller {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 64px;
	display: flex;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}

.parallax span {
	display: block;
	margin-right: 30px;
}
